@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-md-4">
        <a href="https://www.biada.it/en/profile-2/" target="_blank">About me</a>
    </div>

    <div class="content px-md-4">
        @Body
    </div>
</div>
